<div id="item">
    <h3> <span id="zf-name">Add Item</span></h3>
    <?php
    $this->form->setAction($this->url());
    echo $this->form;
    ?>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <style>
        a:link,
        a:visited
        {
            color: #91BE3F;
        }

        span#zf-name
        {
            color: #91BE3F;
        }

        div#item
        {
            color: #FFFFFF;
            background-image: url(http://framework.zend.com/images/bkg_body-bottom.gif);
            width:  400px;
            height: 300px;
            border: 2px solid #444444;
            overflow: hidden;
            margin: auto;
            padding : 40px;
            margin-top : 40px;
        }

    </style>
</head>
<body>
</body>
</html>
