<!DOCTYPE html>
<html>
   <head>
      <title>Registration Page</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css"/>
       <style>
           a:link,
           a:visited
           {
               color: #91BE3F;
           }

           span#zf-name
           {
               color: #91BE3F;
           }

           div#login
           {
               color: #FFFFFF;
               background-image: url(http://framework.zend.com/images/bkg_body-bottom.gif);
               width:  500px;
               height: 700px;
               border: 2px solid #444444;
               overflow: hidden;
               text-align: center;
               margin: auto;
               padding : 40px;
               margin-top : 40px;
           }
       </style>
   </head>
</html>
<div id="login">

    <h1><span id="zf-name">Registration Form</span></h1>

<?php
$this->form->setAction($this->url());
echo $this->form;
?>
    <div id="more-information">
<h5><a href="<?php echo $this->url(
   array(
   'controller' => 'auth',
   'action' => 'index'
   ),
   'default',
   true) ?>">Login</a></h5>
    </div>
    <div>
