<!DOCTYPE html>
<html>
<head>

<title>Login Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css" />
    <style>
        a:link,
        a:visited
        {
            color: #91BE3F;
        }

        span#zf-name
        {
            color: #91BE3F;
        }

        div#login
        {
            color: #FFFFFF;
            background-image: url(http://framework.zend.com/images/bkg_header.jpg);
            width:  500px;
            height: 400px;
            border: 2px solid #444444;
            overflow: hidden;
            text-align: center;
            margin: auto;
            padding : 40px;
            margin-top : 40px;
        }
    </style>
</head>
<body></body>
</html>

<div id="login">
<h1> <span id="zf-name">Login Page</span></h1>

<?php
 $this->form->setAction($this->url());
 echo $this->form;
 ?>
<h5><a href="<?php echo $this->url(
array(
'controller' => 'Register',
'action' => 'index'
),
'default',
true) ?>">Register</a></h5>

</div>

