<a href="<?php echo $this->url(
    array(
        'controller' => 'Home',
    ),
    'default',
    true) ?>">Home Page</a>

<div id="wrapper">
    <h3> <span id="zf-name">Debit Transction</span></h3>
    <?php
    echo $this->form;
    ?>
    <button><a href="<?php echo $this->url(
            array(
                'controller' => 'Debit-Item',
                'action'     => 'index'
            ),
            'default',
            true) ?>">Add Item</a></button>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <style>
        a:link,
        a:visited
        {
            color: #91BE3F;
        }

        span#zf-name
        {
            color: #91BE3F;
        }

        div#wrapper
        {
            color: #FFFFFF;
            background-image: url(http://framework.zend.com/images/bkg_body-bottom.gif);
            width:  400px;
            height: 450px;
            border: 2px solid #444444;
            overflow: hidden;
            margin: auto;
            padding : 40px;
            margin-top : 40px;
        }
    </style>
</head>
<body>


</body>
</html>

