<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Zend Framework Application</title>
    <?php echo $this->headLink()->appendStylesheet('/css/layout.css');?>

    <?php echo $this->inlineScript()
        ->prependFile('/js/dialog.js')
        ->prependFile('https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    ?>
</head>
<body>

<!--<div id="header" style="background-color:#98AFC7; height: 40px;">-->
<!--        <h4 align="center">Login Registration  Application</h4>-->
<!--    </div>-->

<?php echo $this->layout()->content ?>

</body>
</html>