<h4 style="color: green">Welcome <?=$this->firstName?><br></h4>

<label>Total :</label>
<input type = "text" value="<?=$this->amount?>">
<button style="float:right"><a href="<?php echo $this->url(
        array(
            'controller' => 'auth',
            'action' => 'logout'
        ),
        'default',
        true) ?>">logout</a></button>

<!DOCTYPE html>
<head>
    <title>home page</title>
    <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        table tr td{
             height: 40px;
            border:1px solid
        }
        tbody {
            display:block;
            height:400px;
            overflow:auto;
        }
        thead, tbody tr {
            height: 40px;
            display:table;
            width:100%;
            table-layout:fixed;
            text-align: center;
        }

        table {
            width:400px;
        }
    </style>
</head>
<div class="container">
    <div class="col-md-6">
        <h4 style=margin-right:100px class="text-success";>Credit Transactions</h4>
        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="width:400px;">
<table border="1" align="left"   >
    <tr>
        <th class="text-center"style="color:blue;" >Item</th>
        <th class="text-center"style="color:blue;">Amount</th>
    </tr>

    <?php foreach($this->creditTransction as $transction) : ?>
        <tr>
            <td><?php echo $this->escape($transction->name);?></td>
            <td><?php echo $this->escape($transction->amount);?></td>
        </tr>
    <?php endforeach; ?>
</table>
        </div>
        <button style="margin-top:450px;margin-right: 70px"><a href="<?php echo $this->url(
                array(
                    'controller' => 'credit'
                ),
                'default',
                true) ?>">Credit</a></button>
    </div>

<div class="col-md-6" >
    <h4 style=margin-right:100px class="text-success";>Debit Transactions</h4>
    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="width:400px;">
<table border="1"  align="right" >
    <tr>
        <th class="text-center" style="color:blue;">Item</th>
        <th class="text-center"  style="color:blue;">Amount</th>
    </tr>

    <?php foreach($this->debitTransction as $transction) : ?>
        <tr>
            <td><?php echo $this->escape($transction->name);?></td>
            <td><?php echo $this->escape($transction->amount);?></td>
        </tr>
    <?php endforeach; ?>

</table>
    </div>
    <button style="margin-top: 40px"><a href="<?php echo $this->url(
            array(
                'controller' => 'debit'
            ),
            'default',
            true) ?>">Debit</a></button>
</div>
</div>




<!--<button id="opener">Credit</button>-->
<!--    <div id="wrapper">-->
<!--        --><?php
//        $this->form->setAction($this->url());
//        echo $this->form;
//        ?>
<!--    </div>-->
</body>

</html>
